<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="{{ " index_style/js/main.js" | prepend: site.baseurl }}?{{ site.time |
    date: '%s%N' }}"></script>
</head>

<body>
  <span class="mobile btn-mobile-menu">
    <i class="icon icon-list btn-mobile-menu__icon"></i>
    <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
  </span>

  <header class="panel-cover"
    style="background-image: url('{{ site.baseurl }}/index_style/images/background-cover.jpg');">
    <!-- background-cover.jpg @ uno.css -->
    <div class="panel-main">
      <div class="panel-main__inner panel-inverted">
        <div class="panel-main__content">
          <a href="{{ site.baseurl }}" title="link to home of {{ site.title }}">
            {% if site.github %}
            <img src="https://github.com/{{ site.github }}.png" class="user-image" alt="My GitHub Avatar">
            {% else %}
            <img src="{{ site.baseurl }}/assets/images/{{ site.pic }}" class="user-image" alt="My Profile Photo">
            {% endif %}
            <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
          </a>
          <hr class="panel-cover__divider">
          <p class="panel-cover__description">{{ site.description }}</p>
          <p class="panel-cover__description_tiny">{{ site.description_tiny }}</p>
          <hr class="panel-cover__divider panel-cover__divider--secondary">

          <div class="navigation-wrapper">
            <nav class="cover-navigation cover-navigation--primary">
              <ul class="navigation">
                {% for link in site.data.index_links %}
                <li class="navigation__item"><a href="{{ link.link }}" title="{{ link.hover_text }}"
                    class="blog-button">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </nav>

            <nav class="cover-navigation navigation--social">
              <ul class="navigation">
                {% if site.email %}
                <!-- Email -->
                <li class="navigation__item">
                  <a href="mailto:{{ site.email }}" title="Email {{ site.email }}" target="_blank">
                    <i class="icon icon-mail"></i>
                    <span class="label">Email</span>
                  </a>
                </li>
                {% endif %}

                {% if site.github %}
                <!-- GitHub -->
                <li class="navigation__item">
                  <a href="https://www.github.com/{{ site.github }}" title="{{ site.github }} on GitHub"
                    target="_blank">
                    <i class="icon icon-social-github"></i>
                    <span class="label">GitHub</span>
                  </a>
                </li>
                {% endif %}

                {% if site.python_wiki %}
                <!-- GitHub -->
                <li class="navigation__item">
                  <a href="{{ site.python_wiki }}" title="{{ site.python_wiki }} on Python wiki" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                      <path
                        d="M439.8 200.5c-7.7-30.9-22.3-54.2-53.4-54.2h-40.1v47.4c0 36.8-31.2 67.8-66.8 67.8H172.7c-29.2 0-53.4 25-53.4 54.3v101.8c0 29 25.2 46 53.4 54.3 33.8 9.9 66.3 11.7 106.8 0 26.9-7.8 53.4-23.5 53.4-54.3v-40.7H226.2v-13.6h160.2c31.1 0 42.6-21.7 53.4-54.2 11.2-33.5 10.7-65.7 0-108.6zM286.2 404c11.1 0 20.1 9.1 20.1 20.3 0 11.3-9 20.4-20.1 20.4-11 0-20.1-9.2-20.1-20.4 .1-11.3 9.1-20.3 20.1-20.3zM167.8 248.1h106.8c29.7 0 53.4-24.5 53.4-54.3V91.9c0-29-24.4-50.7-53.4-55.6-35.8-5.9-74.7-5.6-106.8 .1-45.2 8-53.4 24.7-53.4 55.6v40.7h106.9v13.6h-147c-31.1 0-58.3 18.7-66.8 54.2-9.8 40.7-10.2 66.1 0 108.6 7.6 31.6 25.7 54.2 56.8 54.2H101v-48.8c0-35.3 30.5-66.4 66.8-66.4zm-6.7-142.6c-11.1 0-20.1-9.1-20.1-20.3 .1-11.3 9-20.4 20.1-20.4 11 0 20.1 9.2 20.1 20.4s-9 20.3-20.1 20.3z" />
                    </svg> <span class="label">Python wiki</span>
                  </a>
                </li>
                {% endif %}

                {% if site.linkedin %}
                <!-- LinkedIn -->
                <li class="navigation__item">
                  <a href="https://www.linkedin.com/in/{{ site.linkedin }}" title="{{ site.linkedin }} on LinkedIn"
                    target="_blank">
                    <i class="icon icon-social-linkedin"></i>
                    <span class="label">LinkedIn</span>
                  </a>
                </li>
                {% endif %}

                {% if site.twitter %}
                <!-- Twitter -->
                <li class="navigation__item">
                  <a href="http://twitter.com/{{ site.twitter }}" title="{{ site.twitter }} on Twitter" target="_blank">
                    <i class="icon icon-social-twitter"></i>
                    <span class="label">Twitter</span>
                  </a>
                </li>
                {% endif %}

                {% if site.facebook %}
                <!-- Facebook -->
                <li class="navigation__item">
                  <a href="http://fb.me/{{ site.facebook }}" title="{{ site.facebook }} on Facebook" target="_blank">
                    <i class="icon icon-social-facebook"></i>
                    <span class="label">Facebook</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div> <!-- navigation-wrapper -->
        </div> <!-- panel-main__content -->
      </div> <!-- panel-main__inner panel-inverted -->
      <div class="panel-cover--overlay"></div>
    </div> <!-- panel-main -->
  </header>
</body>

</html>