<!DOCTYPE html>
<html lang="{{ .Language.Locale }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  {{ partial "header.html" . }}
  <main>{{ block "main" . }}{{ end }}</main>
  {{ partial "footer.html" . }}

  <script>
    window.GITHUB_USER = '{{ .Site.Params.github }}';
    window.GITHUB_ORG = '{{ .Site.Params.githubOrg }}';
    window.PYPI_USER = '{{ .Site.Params.pypiUser }}';
    window.SHOW_SPONSOR = `{{ .Site.Params.showSponsor }}`;
    window.SHOW_CALENDAR = `{{ .Site.Params.showCalendar }}`;
  </script>
  {{ $js := resources.Get "js/main.js" | resources.Minify | fingerprint }}
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
</body>

</html>